/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

:root {
  --ifm-color-primary: #006ad4;
  --ifm-color-primary-dark: #005fbf;
  --ifm-color-primary-darker: #005ab4;
  --ifm-color-primary-darkest: #004a94;
  --ifm-color-primary-light: #0075e9;
  --ifm-color-primary-lighter: #007af4;
  --ifm-color-primary-lightest: #158aff;
  --ifm-code-font-size: 95%;
}

html[data-theme='dark'] {
  --ifm-background-color: #242526;
  --ifm-navbar-background-color: #313131;
  --ifm-navbar-link-hover-color: var(--ifm-color-info);
  --ifm-menu-color-active: var(--ifm-color-info);
  --ifm-color-primary: var(--ifm-color-info);
  --ifm-heading-color: #eeeeee;
  --ifm-color-gray-100: #bbbbbb;
  --ifm-footer-background-color: var(--ifm-navbar-background-color);
  --ifm-navbar-link-color: var(--ifm-color-emphasis-1000);
}

html[data-theme='dark'] .admonition.alert a {
  color: var(--ifm-color-info);
  font-weight: var(--ifm-font-weight-semibold);
}

html[data-theme='dark'] .admonition.alert a:hover {
  color: var(--ifm-color-info);
}

html[data-theme='dark'] .DocSearch {
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(47, 55, 69, 0.7);
  --docsearch-modal-background: var(--ifm-background-color);
  --docsearch-searchbox-background: var(--ifm-background-color);
  --docsearch-searchbox-focus-background: var(--ifm-color-black);
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-emphasis-100);
  --docsearch-footer-background: var(--ifm-background-surface-color);
  --docsearch-key-gradient: linear-gradient(
    -26.5deg,
    var(--ifm-color-emphasis-200) 0%,
    var(--ifm-color-emphasis-100) 100%
  );
}

/* Announcement Bar */
div[class^=announcementBar_] {
  background: #1b7497;
  color: white;
	font-size: 20px;
  font-weight: 700;
	height: auto;
}

.docs-lead {
  font-size: var(--ifm-h3-font-size);
  border-bottom: 2px solid var(--ifm-toc-border-color);
  padding-bottom: 2rem;
  color: var(--ifm-color-gray-700);
}

html[data-theme='dark'] .docs-lead {
  color: var(--ifm-color-gray-600);
}

.docusaurus-highlight-code-line {
  background-color: var(--ifm-color-emphasis-300);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

blockquote {
  background-color: var(--ifm-color-emphasis-100);
}

.DocSearch-Modal .DocSearch-Hit-source {
  font-size:1.2rem;
  margin-bottom:.5rem;
  margin-top:1rem;
}

.container--s {
  box-sizing: border-box;
  max-width: 950px;
}

.markdown .category-index-title {
  margin-bottom: calc(var(--ifm-leading) - .5rem);
}

.markdown .lead {
  font-size: 1.2rem;
  color: var(--ifm-color-gray-700);
  margin-bottom: calc(var(--ifm-leading) * 2);
}

html[data-theme='dark'] .markdown .lead {
  color: var(--ifm-color-gray-500);
}

.menu .menu__list .menu__list {
  border-left: 1px solid var(--ifm-menu-color-background-active);
}

.menu__list a.menu__link,
.menu .menu__list-item .menu__list .menu__list a.menu__link {
  font-size: 0.9rem;
}

.menu__link--sublist:after {
  background: var(--ifm-menu-link-sublist-icon) 50% / 1.5rem 1.5rem;
}

/* Size welcome/introduction menu item */
.menu .menu__list .menu__list-item a[href="/genera"].menu__link,
.menu .menu__list .menu__list-item a[href="/beaver-builder"].menu__link,
.menu .menu__list .menu__list-item a[href="/beaver-themer"].menu__link,
.menu .menu__list .menu__list-item a[href="/bb-theme"].menu__link {
  font-size: 0.9rem;
}

/* Hide category index sidebar items */
a[href="/general/pre-sales"].menu__link,
a[href="/next/general/pre-sales"].menu__link,
a[href="/general/account-billing"].menu__link,
a[href="/next/general/account-billing"].menu__link,
a[href="/general/faq"].menu__link,
a[href="/next/general/faq"].menu__link,
a[href="/general/affiliate-program"].menu__link,
a[href="/beaver-builder/getting-started"].menu__link,
a[href="/next/beaver-builder/getting-started"].menu__link,
a[href="/beaver-builder/getting-started/bb-editor-basics"].menu__link,
a[href="/next/beaver-builder/getting-started/bb-editor-basics"].menu__link,
a[href="/beaver-builder/layouts"].menu__link,
a[href="/next/beaver-builder/layouts"].menu__link,
a[href="/beaver-builder/styles"].menu__link,
a[href="/next/beaver-builder/styles"].menu__link,
a[href="/beaver-builder/advanced-builder-techniques"].menu__link,
a[href="/next/beaver-builder/advanced-builder-techniques"].menu__link,
a[href="/beaver-builder/management-migration"].menu__link,
a[href="/next/beaver-builder/management-migration"].menu__link,
a[href="/beaver-builder/troubleshooting"].menu__link,
a[href="/next/beaver-builder/troubleshooting"].menu__link,
a[href="/beaver-builder/white-labeling"].menu__link,
a[href="/next/beaver-builder/white-labeling"].menu__link,
a[href="/beaver-builder/developer"].menu__link,
a[href="/next/beaver-builder/developer"].menu__link,
a[href="/beaver-builder/developer/how-to-tips"].menu__link,
a[href="/next/beaver-builder/developer/how-to-tips"].menu__link,
a[href="/beaver-builder/developer/tutorials-guides"].menu__link,
a[href="/next/beaver-builder/developer/tutorials-guides"].menu__link,
a[href="/beaver-themer/getting-started"].menu__link,
a[href="/next/beaver-themer/getting-started"].menu__link,
a[href="/beaver-themer/layout-types-modules"].menu__link,
a[href="/next/beaver-themer/layout-types-modules"].menu__link,
a[href="/beaver-themer/integrations"].menu__link,
a[href="/next/beaver-themer/integrations"].menu__link,
a[href="/beaver-themer/integrations/woocommerce"].menu__link,
a[href="/next/beaver-themer/integrations/woocommerce"].menu__link,
a[href="/beaver-themer/integrations/bigcommerce"].menu__link,
a[href="/next/beaver-themer/integrations/bigcommerce"].menu__link,
a[href="/beaver-themer/integrations/easy-digital-downloads"].menu__link,
a[href="/next/beaver-themer/integrations/easy-digital-downloads"].menu__link,
a[href="/beaver-themer/integrations/the-events-calendar"].menu__link,
a[href="/next/beaver-themer/integrations/the-events-calendar"].menu__link,
a[href="/beaver-themer/field-connections"].menu__link,
a[href="/next/beaver-themer/field-connections"].menu__link,
a[href="/beaver-themer/field-connections/connections-to-acf"].menu__link,
a[href="/next/beaver-themer/field-connections/connections-to-acf"].menu__link,
a[href="/beaver-themer/locations"].menu__link,
a[href="/next/beaver-themer/locations"].menu__link,
a[href="/beaver-themer/conditional-logic"].menu__link,
a[href="/next/beaver-themer/conditional-logic"].menu__link,
a[href="/beaver-themer/management-compatibility"].menu__link,
a[href="/next/beaver-themer/management-compatibility"].menu__link,
a[href="/beaver-themer/troubleshooting"].menu__link,
a[href="/next/beaver-themer/troubleshooting"].menu__link,
a[href="/beaver-themer/developer"].menu__link,
a[href="/next/beaver-themer/developer"].menu__link,
a[href="/bb-theme/getting-started"].menu__link,
a[href="/next/bb-theme/getting-started"].menu__link,
a[href="/bb-theme/site-settings"].menu__link,
a[href="/next/bb-theme/site-settings"].menu__link,
a[href="/bb-theme/defaults-for-layouts-content"].menu__link,
a[href="/next/bb-theme/defaults-for-layouts-content"].menu__link,
a[href="/bb-theme/defaults-for-styles"].menu__link,
a[href="/next/bb-theme/defaults-for-styles"].menu__link,
a[href="/bb-theme/customizer-settings"].menu__link,
a[href="/next/bb-theme/customizer-settings"].menu__link,
a[href="/bb-theme/code"].menu__link,
a[href="/next/bb-theme/code"].menu__link,
a[href="/bb-theme/management-migration"].menu__link,
a[href="/next/bb-theme/management-migration"].menu__link,
a[href="/bb-theme/troubleshooting"].menu__link,
a[href="/next/bb-theme/troubleshooting"].menu__link,
a[href="/bb-theme/white-labeling"].menu__link,
a[href="/next/bb-theme/white-labeling"].menu__link,
a[href="/bb-theme/developer"].menu__link,
a[href="/next/bb-theme/developer"].menu__link {
  display: none;
  visibility: hidden;
}

.markdown a:not(.button) {
  text-decoration: var(--ifm-link-hover-decoration);
  font-weight: var(--ifm-font-weight-semibold);
}

.markdown a:hover(.button) {
  color: var(--ifm-color-primary-light);
  text-decoration: var(--ifm-link-hover-decoration);
}

/* Images */
.markdown img {
  margin-top: var(--ifm-paragraph-margin-bottom);
  margin-bottom: var(--ifm-paragraph-margin-bottom);
}

/* Image/Video */
.markdown img, video {
  border: 3px solid var(--ifm-color-emphasis-200);
}

/* videos */
video {
  max-width: 100%;
  height: auto;
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
  margin-top: var(--ifm-paragraph-margin-bottom);
  margin-bottom: var(--ifm-paragraph-margin-bottom);
}

.embed-responsive::before {
  padding-top: 56.25%;
  display: block;
  content: "";
}

.embed-responsive iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}



/* Hero */
.hero {
  overflow: visible;
}

html[data-theme='dark'] .hero__title {
  color: var(--ifm-color-gray-1000);
}

/* Hero Search */
.hero__search {
  background: transparent;
  box-shadow: none;
  height: auto;
  padding: 10px 0 0 0;
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}

.hero__search .DocSearch-Button {
  width: 100%;
  height: 50px;
  background-color: var(--docsearch-searchbox-focus-background);
}

@media only screen and (max-width: 750px) {
  .hero__search {
    display: none;
    visibility: hidden;
  }
}

.bb-docs-home-box {
  color: var(--ifm-navbar-link-color);
  background-color: #fff;
  background-color: var(--ifm-card-background-color);
  border: 2px solid var(--ifm-color-emphasis-300);
  border-radius: var(--ifm-pagination-nav-border-radius);
  box-shadow: var(--ifm-global-shadow-lw);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  height: 100%;
}

.bb-docs-home-box:hover {
  color: var(--ifm-navbar-link-color);
  background: rgba(0, 106, 212, 0.08);
  border-color: var(--ifm-color-primary);
  box-shadow: var(--ifm-panel-box-shadow-active);
}

.bb-docs-home-box img {
  margin-bottom: 0.4rem;
}

.bb-docs-home-box h3 {
  margin-bottom: 0.4rem;
}

.bb-docs-home-box p {
  font-size: 0.9rem;
  margin-bottom: 0;
  opacity: 0.6;
}

@media (max-width: 996px) {
  .bb-docs-home-box:hover {
    transform: none;
  }
}

.markdown .index-hero {
  border-radius: var(--ifm-pagination-nav-border-radius);
  margin-top: var(--ifm-leading) !important;
}

.jump-to, .jump-to--category {
  background-color: var(--ifm-panel-background-color);
  border: 2px solid var(--ifm-color-emphasis-300);
  border-radius: var(--ifm-pagination-nav-border-radius);
  box-shadow: var(--ifm-global-shadow-lw);
  color: var(--ifm-heading-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-weight: 500;
  margin-bottom: var(--ifm-spacing-vertical);
  text-align: left;
  text-decoration: none !important;
  flex-basis: 100%;
}

.jump-to:last-of-type {
  margin-bottom: calc(var(--ifm-leading) *2);
}

.jump-to:hover{
  background: rgba(0, 106, 212, 0.08);
  border-color: var(--ifm-color-primary);
  box-shadow: var(--ifm-panel-box-shadow-active);
  text-decoration: none !important;
}

.jump-to--main {
  flex: 1 1 auto;
}

.jump-to--icon {
  width: 20px;
  margin: 0 10px;
  transition: margin 0.3s ease;
}

.jump-to:hover .jump-to--icon {
  width: 20px;
  margin-right: 0;
}

.jump-to.integrations-box {
    padding: 0;
    overflow: hidden;
}

.jump-to.integrations-box:hover {
    opacity: .8;
}

.markdown .category {
  display: flex;
}

.category .jump-to {
  padding: 2rem;
  display: flex;
  align-items: flex-start;
}

.social-icons .jump-to {
  padding: 2rem;
  text-align: center;
}

.social-icons h3 {
    margin-top: var(--ifm-leading);
    margin-bottom: 0;
}
.social-icons .fab {
    font-size: 3rem;
}
